html{
    width: 100%;
}
body{
    background:#dfdfdf;
    margin:0px auto;
    overflow-x:hidden;
    overflow-y:hidden;
}
#bar{
    height:60px;
    padding:10px 0px 0px 10px;
    background:#eee;
    position:relative;
    text-align: left;
}
.logo{
    display:inline-block;
    height:50px;
    /*width:50px;*/

}
.logo img{
    height:50px;
}
.find{
    display:inline-block;
    width:400px;
    height:35px;
    vertical-align:top;
    position:absolute;
    left: 40%;
    margin:7px 0px 0px 0px;
    transition:all ease 400ms;
}
.search input{
    width: 330px;
    height: 35px;
    border:0px;
    outline: none;
}
.search{
    width: 400px;
    height: 35px;
    display: inline-block;
    transition: all ease 400ms;
}
.search::before{
    content:"";
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: top;
    margin-right: -9px;
    border-radius: 45px 0px 0px 45px;
    background:white url(../image/icon/mag-glass.png) no-repeat 50% 50%;
}
.search::after{
    content:"";
    width: 35px;
    height: 35px;
    margin: 0px;
    background: white;
    display: inline-block;
    vertical-align: top;
    margin-left: -9px;
    border-radius: 0px 45px 45px 0px;
}
.history{
    display: none;
}



.user{
    display:inline-block;
    height:50px;
    margin-left:70px;
    position:absolute;
    right:100px;
}
.headicon{
    display:inline-block;
    width:50px;
    height:50px;
    border-radius:50%;
    border:1px #aaa solid;
    overflow:hidden;
}
.headicon img{
    width:50px;
}
.username{
    display:inline-block;
    height:50px;
    vertical-align:top;
    line-height:50px;
}
.menu{
    display:inline-block;
    width:50px;
    height:50px;
    vertical-align:top;
    float:right;
    margin:10px 10px 0px 10px;
}
.menu_content{
    display:inline-block;
    width:30px;
    height:5px;
    border-top:5px solid #3e61ad;
    border-bottom:5px solid #3e61ad;
    background-color:#3e61ad;
    padding:5px 0;
    background-clip:content-box;
}
.mt{
    display:inline-block;
    height:60px;
    line-height:60px;
    padding-left:10px;
    background:#aaa;
    width:96%;
}
.menu ul{
    list-style: none;
    padding-left: 0;
    z-index:2;
    position:absolute;
    width:250px;
    right:-250px;
    top:55px;
    display:block;
    background:#e8e8e8;
    transition:all ease 200ms;
    overflow:hidden;
}
.menu .end{
    display:inline-block;
    padding-bottom:150px;
}
.menu a{
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    color: black;
}
.menu li{
    background-color: #e8e8e8;
}
.menu li:hover{
    background-color: #3e61ad;
}
.menu li:hover > a{
    color: white;
}
.menu ul ul{
    position: absolute;
    min-width: 150px;
    display: none;
}
.container{
    height:692px;
    text-align: center;
    background: url("../image/face/lbg.jpg") no-repeat 10% 10%/100%;
}
.login{
    width: 300px;
    float: right;
    margin-top: 80px;
    margin-right: 200px;
    padding: 20px;
    background-color:rgba(255,255,255,0.5);
    border-radius: 15px;
    text-align: left;
}

.item1 input{
    border-radius: 3px;
    border: 1px solid #c9c9c9;
    height: 40px;
    width: 300px;
    vertical-align: top;
    font-size: 16px;
    line-height: 36px;
    padding-left: 10px;
    background-color:rgba(255,255,255,0.5);
}
.item1{
    margin-top: 20px;
}

.login_title{
    font-family: Microsoft YaHei;
    color: #333;
    font-size: 30px;
}

#submit:hover{
    background-color: #c9c9c4;
    cursor: pointer;
}

#input_check{
    margin-right: 20px;
    width: 230px;
}

.logout{
    display: inline-block;
    width: 50px;
    height: 30px;
    padding-left: 40px;
}
.logout input{
    width: 50px;
    height: 30px;

}